<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>


    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/skins/color-1.css">
    <!-- style-switches design-->
    
    <link rel="stylesheet" href="../css/skins/color-1.css" class="alternate-style" title="color-1" disabled>
    <link rel="stylesheet" href="../css/skins/color-2.css" class="alternate-style" title="color-2" disabled>
    <link rel="stylesheet" href="../css/skins/color-3.css" class="alternate-style" title="color-3" disabled>
    <link rel="stylesheet" href="../css/skins/color-4.css" class="alternate-style" title="color-4" disabled>
    <link rel="stylesheet" href="../css/skins/color-5.css" class="alternate-style" title="color-5" disabled>
    
    <link rel="stylesheet" href="../css/style-switches.css">

</head>
<body>
    

     <!-- about me read more page - design-->

     <div class="about hidden" id="readmore">
        <div class="container">
            <div class="row">
                <div class="section-title padd-15">
                    <h2>About Me</h2>
                </div> 
            </div>
            <div class="row">
                <div class="about-contents padd-15">
                    <div class="row">
                        <div class="about-text padd-15">
                            <h3>I'm Surya Prakash and <span> Full-Stack Web Developer</span></h3>
                            <p> I hold a Bachelor's degree in Mechanical Engineering, a field I pursued initially due to family pressure and 
                                influence from my uncle. However, I soon realized that my true passion lies in the realm of full-stack development.
                                Despite the expectations placed upon me, I took the initiative to follow my own path and enrolled in a coaching center to 
                                learn the skills required to become a full-stack developer. I dedicated my time and effort outside of my degree curriculum to 
                                gain knowledge in front-end and back-end technologies, including HTML, CSS, JavaScript. Through hands-on 
                                projects and practical experience, I have developed a solid understanding of web development principles and practices. 
                                Although my educational background lies in Mechanical engineering, I am confident in my abilities as a full-stack developer 
                                and eager to apply my skills to create dynamic and engaging web applications. My journey has instilled in me the
                                determination and resilience to pursue my true passion, and I am excited to embrace this new career path and 
                                contribute to the ever-evolving world of technology.</p>
                </div>
                    </div>
                    <div class="row arrange">
                        <div class="personal-info padd-15">
                            <div class="row">
                                <div class="info-item padd-15">
                                    <p>Birthday : <span>15 Jan 2000</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>Age : <span>23</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>Email : <span>surya1501432@gmail.com</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>Degree : <span>B.E Mechancial Engineering</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>Mobile No : <span>+91 7708480240</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>City : <span>Ambur</span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>freelance : <span>Available</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="buttons padd-15">
                                    <a href="../My Resume.pdf" class="btn">See My CV</a>
                                    <a href="../index.html" class="btn hire-me">Hire Me</a>
                                </div>
                            </div>
                        </div>
                        <div class="skills padd-15">
                            <div class="row">
                                <div class="skill-item padd-15">
                                    <h5>HTML</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 95%;"></div>
                                        <div class="skill-percent">95%</div>
                                    </div>
                                </div>
                                <div class="skill-item padd-15">
                                    <h5>CSS</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 95%;"></div>
                                        <div class="skill-percent">95%</div>
                                    </div>
                                </div>
                                <div class="skill-item padd-15">
                                    <h5>JAVASCRIPT</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 85%;"></div>
                                        <div class="skill-percent">85%</div>
                                    </div>
                                </div>
                                <div class="skill-item padd-15">
                                    <h5>JAVA</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 90%;"></div>
                                        <div class="skill-percent">90%</div>
                                    </div>
                                </div>
                                <div class="skill-item padd-15">
                                    <h5>ORACLESQL</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 90%;"></div>
                                        <div class="skill-percent">90%</div>
                                    </div>
                                </div>
                                <div class="skill-item padd-15">
                                    <h5>SPRINGBOOT</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 85%;"></div>
                                        <div class="skill-percent">85%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="education ">
                            <h3 class="title">Education</h3>
                            <div class="row">
                                <div class="timeline-box padd-15">
                                    <div class="timeline shadow-dark">
                                        <!-------------------timeline  item-------->
                                        <div class="timeline-item">
                                            <div class="circle-dot shadow-dark"></div>
                                            <h3 class="timeline-date">
                                                <i class='bx bxs-calendar'></i> 01/12/2022 - 31/05/2023
                                            </h3>
                                            <h4 class="timeline-title">Full-Stack Developer</h4>
                                            <p class="timeline-text">I successfully completed a full-stack development program at an JSpiders Software Training Institute, Bengaluru gaining comprehensive skills in front-end and back-end web development.
                                                With my training as a full-stack developer, I am proficient in designing user interfaces, implementing server-side logic, and managing databases for robust web applications.
                                                I am equipped with the knowledge and expertise to handle the entire software development life cycle as a full-stack developer.</p>
                                        </div>

                                        <div class="timeline-item">
                                            <div class="circle-dot shadow-dark"></div>
                                            <h3 class="timeline-date">
                                                <i class='bx bxs-calendar'></i> 2017-2021
                                            </h3>
                                            <h4 class="timeline-title">B.E in Mechanical Engineering</h4>
                                            <p class="timeline-text">I completed my degree at Panimalar Engineering College</p>
                                            <P class="timeline-text"><span style="font-weight: bold;">CGPA</span> - 8.0</P>
                                        </div>

                                        <div class="timeline-item">
                                            <div class="circle-dot shadow-dark"></div>
                                            <h3 class="timeline-date">
                                                <i class='bx bxs-calendar'></i> 2015-2017
                                            </h3>
                                            <h4 class="timeline-title">Higher Secondary School Certificate</h4>
                                            <p class="timeline-text">I completed my HSC at Sri Vivekananda Matric Higher Secondary School</p>
                                            <P class="timeline-text"><span style="font-weight: bold;">Percentage</span> - 92%</P>
                                        </div>

                                        <div class="timeline-item">
                                            <div class="circle-dot shadow-dark"></div>
                                            <h3 class="timeline-date">
                                                <i class='bx bxs-calendar'></i> 2014-2015
                                            </h3>
                                            <h4 class="timeline-title">Secondary School leaving Certificate</h4>
                                            <p class="timeline-text">I completed my SSLC at Sri Vivekananda Matric Higher Secondary School</p>
                                            <P class="timeline-text"><span style="font-weight: bold;">Percentage</span> - 98%</P>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>


    
       <!-- style-switches design-->
    <div class="about-switcher">
       <div class="style-switcher">
        <div class="style-switcher-toggler s-icon">
            <i class='fas fa-cog fa-spin'></i>
        </div>
        <div class="day-night s-icon">
            <i class='fas '></i>
        </div>
        <h4>Theme colors</h4>
        <div class="colors">
            <span class="color-1" onclick="setActiveStyle('color-1')"></span>
            <span class="color-2" onclick="setActiveStyle('color-2')"></span>
            <span class="color-3" onclick="setActiveStyle('color-3')"></span>
            <span class="color-4" onclick="setActiveStyle('color-4')"></span>
            <span class="color-5" onclick="setActiveStyle('color-5')"></span>
        </div>
       </div>
    </div>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
      <script src="https://unpkg.com/scrollreveal"></script>
      <script src="../js/script.js"></script>
      <script src="../js/style-switcher.js"></script>
</body>
</html>